<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="my.codeandroid.itisvid" android:versionCode="2" android:versionName="1.0.3">
	
	<uses-permission android:name="android.permission.INTERNET" />
	
	<application android:icon="@drawable/icon" android:label="@string/app_name" android:theme="@style/CustomTheme">
		<activity android:name=".activity.HomeActivity" android:label="@string/app_name" android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		
		<activity android:name=".activity.ListAllCamsActivity" android:label="@string/label_all_cams"/>
		
		<activity android:name=".activity.ListFavCamsActivity" android:label="@string/label_fav_cams"/>

		<activity android:name=".activity.ShowItisWapActivity" android:label="@string/label_itis_wap"/>
		
	</application>
	<uses-sdk android:minSdkVersion="3" />

</manifest> 